- provide(:title, t('.title'))

- content_for :sidebar_body do
  - @labs.each do |lab|
    = link_to lab.title, lab_path(lab), :class => "list-group-item text-dark"
  = link_to Setting.members.tag, members_path, :class => "list-group-item text-dark"
- content_for :content_body do
  = @labs.first.content.nil? ? '' : @labs.first.content.html_safe

= render "layouts/control_panel"
