-#
  .home-footer.border-top.mt-5
  %p.text-center.mb-0.text-secondary
    
%footer.text-muted.border-top.py-5
  .container
    %p.float-right
      %a{:href => "#"} 回顶部 
    %p
      &#xA9; 梁山水务有限公司版权所有 二零二零年
    -#
      %p
        New to Bootstrap?
        %a{:href => "../../"} Visit the homepage
        or read our
        = succeed "." do
          %a{:href => "../../getting-started/"} getting started guide
